body {
	background: white;
	color: black;
	text-align: center;
	font-size: 30px;
	width: 100%;
	align-self: center;
}

header {
	text-align: center;
	font-size: 40px;
	padding-bottom: 20px;
	padding-top: 30px;
	background: #ffffff;
}

p {
	text-align: left;
	font-size: 15px;
}

h1{
	font-size: 30px;
}

/* Create two columns/boxes that floats next to each other */
Image_stream {
	float: left;
	width: 40%;
	height: 50%;
	background: #ccc;
	padding: 10px;
}

Control{
	float: right;
	padding: 10px;
	width: 55%;
	background-color: #f1f1f1;
	height: 50%;
}

section{
	width: 100%;
}

table {
	font-family: arial, sans-serif;
	border-collapse: collapse;
	width: 100%;
	align-self: center;
}

td,
th {
	border: 1px solid #3232327e;
	text-align: center;
	width: 50%;
	padding: 8px;
	font-size: 20px;
}

tr:nth-child(even) {
	background-color: #dddddd;
}

.button_Kill{
  background-color: white; 
  border: 1px solid #f44336;
  color: #f44336;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}
.buttonK:hover {
	background-color: #f44336;
	color: white;
  }