body {
	background: white;
	color: black;
	text-align: center;
	font-size: 30px;
	width: 100%;
	align-self: center;
}

header {
	text-align: center;
	font-size: 40px;
	padding-bottom: 20px;
	padding-top: 20px;
	background: #65656540;
}

p {
	text-align: left;
	font-size: 15px;
}

h1 {
	font-size: 30px;
}

/* Create two columns/boxes that floats next to each other */
Image_stream {
	float: left;
	width: 40%;
	background: #ccc;
	padding-bottom: 30px;
	height: 470px;
}

Monitor {
	float: right;
	width: 60%;
	background-color: #f1f1f1;
	height: 500px;
}


section {
	width: 100%;
	height: 50%
}

table {
	font-family: arial, sans-serif;
	border-collapse: collapse;
	width: 90%;
	float: right;
}

td,
th {
	border: 1px solid #3232327e;
	text-align: center;
	width: 50%;
	padding: 8px;
	font-size: 20px;
	align-self: center;
}

tr:nth-child(even) {
	background-color: #dddddd;
}

.button_Kill {
	background-color: #65656530;
	border: 1px solid #f44336;
	color: #f44336;
	padding: 16px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	transition-duration: 0.4s;
	cursor: pointer;
	position: absolute;
	top: 10px;
	right: 10px;
	width:100px;
	height: 50px
}

.buttonK:hover {
	background-color: #f44336;
	color: white;
}

.button_Control {
	background-color: #65656530;
	border: 1px solid #ff6f00;
	color: #ff6f00;
	padding: 16px ;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	transition-duration: 0.4s;
	cursor: pointer;
	position: absolute;
	top: 10px;
	left: 10px;
	width:100px;
	height: 50px
}

.buttonC:hover {
	background-color: #ff6f00;
	color: white;
}

.button_Capture{
	background-color: #65656530;
	border: 1px solid #b700ff;
	color: #b700ff;
	padding: 16px ;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	transition-duration: 0.4s;
	cursor: pointer;
}

.buttonCap:hover {
	background-color: #b700ff;
	color: white;
}

.button_Home {
	background-color: #65656530;
	border: 1px solid #ff6f00;
	color: #ff6f00;
	padding: 16px ;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	transition-duration: 0.4s;
	cursor: pointer;
	position: absolute;
	top: 10px;
	left: 10px;
	width:100px;
	height: 50px
}

.buttonH:hover {
	background-color: #ff6f00;
	color: white;
}

.button_Login {
	background-color: #65656530;
	border: 1px solid #0008ff;
	color: #0008ff;
	padding: 16px ;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	transition-duration: 0.4s;
	cursor: pointer;
	position: absolute;
	top: 10px;
	left: 120px;
	width:100px;
	height: 50px
}

.buttonL:hover {
	background-color: #0008ff;
	color: white;
}

.Text_box{
	height: 20px;
	width: 60px;
	border: 1px solid #0008ff;
	color: #0008ff;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	transition-duration: 0.4s;
	cursor: pointer;
}

.Text_boxH:hover{
	background-color: #0008ff;
	color: white;
}

.button_Action {
	background-color: #65656530;
	border: 1px solid #0008ff;
	color: #0008ff;
	padding: 16px ;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	transition-duration: 0.4s;
	cursor: pointer;
}

.buttonA:hover {
	background-color: #0008ff;
	color: white;
}

warning{
	color: #f44336;
	text-align: center;
	margin-top: 400px;
	height: 100%;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.footer{
	text-align: center;
	position:fixed;
	bottom:0;
	left:0;
	width: 100%;
	background-color: #d0d0d0d0;
}

.email{
	float: right; 
	font-size: small; 
	padding-right: 30px; 
	text-align: center;
	padding-top: 14px;
}

#rectangle{
    width:100%;
    height:200px;
    background:white;
}