<!DOCTYPE html>
<html lang="en">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<head>
	<title>
		{{title}}
	</title>
	<header>
		<img src="../static/arcadius.png" alt="logo" style="width: 30%;">
		<br>System Monitor
	</header>
	<section>
		<Image_stream>
			<h1>
				Camera feed
			</h1>
			<img id="stream" src="{{ url_for('video_feed') }}" alt="view" style="height:80%;width:80%">
		</Image_stream>
	</section>

</head>

<body>
	<form method="post" action="/">
		<input type="submit" class="button_Kill buttonK" value="Kill" name="Kill" />
	</form>
	<form action="http://127.0.0.1/" method="get">
		<button class="button_Home buttonH" type="submit">Home</button>
	</form>
</body>

<link rel="stylesheet" href="../static/style.css/">
<meta http-equiv="refresh" content="100000000">

</html>