<!DOCTYPE html>
<html lang="en">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<head>
	<title>
		{{title}}
	</title>
	<header>
		<img src="../static/images/arcadius.png" alt="logo" style="width: 30%;">
		<br>System Monitor
	</header>
	<section>
		<Image_stream>
			<h1>
				Camera feed
			</h1>
			<img id="stream" src="{{ url_for('video_feed') }}" alt="view" style="width: auto; height:70%;">
			<form method="post" action="/control">
				<input type="submit" value="Capture" name="Capture" class="button_Capture buttonCap" />
			</form>
		</Image_stream>
		<Control_section>
			<h1 style="margin: 0; padding-top: 20px; padding-bottom: 10px;">
				Process Control
			</h1>
			<div style="font-size: 25px;">
				<form method="post" action="/control">
					<section style="margin-bottom: 10px;">
						<left style="float: left; width: 30%;">
							<label for="RA_mls">Input A:</label>
							<input type="number" class="Text_box Text_boxH" id="RA_mls" name="RA_mls" value="0" min="0" max="20" step="0.01"> mls<br><br>
							<label for="RB_mls">Input B:</label>
							<input type="number" class="Text_box Text_boxH" id="RB_mls" name="RB_mls" value="0" min="0" max="20" step="0.01"> mls<br><br>
						</left>
						<right style="float: right;width: 30%;">
							<label for="RC_mls">Input C:</label>
							<input type="number" class="Text_box Text_boxH" id="RC_mls" name="RC_mls" value="0" min="0" max="20" step="0.01"> mls<br><br>
							<label for="RD_mls">Input D:</label>
							<input type="number" class="Text_box Text_boxH" id="RD_mls" name="RD_mls" value="0" min="0" max="20" step="0.01"> mls<br><br>
						</right>
					</section>

					<label for="Dosage">Total Dosage:</label>
					<input type="number" class="Text_box Text_boxH" id="Dosage" name="Dosage" value="0" min="0" max="5" step="0.01"> Gy<br><br>
					<label for="Output">Select an Output:</label>
					<select name="Output" id="Output" class="Text_box Text_boxH" style="height: 30px; width: auto;">
						<option value="OUTPUT_1">OUTPUT 1</option>
						<option value="OUTPUT_2">OUTPUT 2</option>
						<option value="OUTPUT_3">OUTPUT 3</option>
						<option value="OUTPUT_4">OUTPUT 4</option>
						<option value="OUTPUT_5">MAIN WASTE</option>
						<option value="OUTPUT_6">RECYCLE</option>
						<option value="OUTPUT_7">INPUT C</option>
						<option value="OUTPUT_8">SPARE</option>
						<option value="OUTPUT_9">SPACE</option>
						<option value="OUTPUT_10">MINOR WASTE</option>
					</select>
					<br><br>
					<input type="submit" value="Start" name="Start" class="button_Action buttonA" />
					<input type="submit" value="Wash" name="Wash" class="button_Action buttonA" />
				</form>
			</div>
		</Control_section>
	</section>

</head>

<body>
	<form method="post" action="/control">
		<input type="submit" class="button_Kill buttonK" value="Kill" name="Kill" />
	</form>
	<form action='/' method="get">
		<button class="button_Home buttonH" type="submit">Home</button>
	</form>
	<form action="/control" method="post">
		<button class="button_Login buttonL" type="submit" value="Log Out" name="Log Out">Log Out</button>
	</form>
</body>

<link rel="stylesheet" href="../static/style.css/">

<footer class="footer">
	<p style="float: left; font-size: small; padding-left: 30px; text-align: center;">Copyright © 2023 Arcadius. All
		Rights Reserved.</p>
	<a class="email" href="mailto:arcadius.uom@gmail.com">Arcadius.UOM@gmail.com</a>
</footer>

</html>