<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <h1>Welcome to Arcaduis Monitor</h1>
</head>

<body>
    <section>
        <test>
            <section>
                <Spac>
                    <div>

                    </div>
                </Spac>
                <login>
                    
                    <h2>Login Form</h2>
                    <form method="post" action="{{address}}">
                        <div class="container">
                            <label for="User"><b>Username</b></label>
                            <input type="text" placeholder="Enter Username" name="User" required>
                            <label for="User"><b>Password</b></label>
                            <input type="password" placeholder="Enter Password" name="Pass" required>
                            <button type="submit" value="Login" name="Login">Login</button>
                        </div>
                    </form>
                </login>
            </section>
        </test>
        <Spac1>
            <div>

            </div>
        </Spac1>

    </section>

</body>

<link rel="stylesheet" href="../static/login_style.css/">

</html>