<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <h1>Welcome to Arcaduis Monitor</h1>
</head>

<body>
    <section>
        <test>
            <section>
                <Spac>
                    <div>

                    </div>
                </Spac>
                <login>

                    <h2>Login Form</h2>
                    <form method="post" action="{{address}}">
                        <div class="container">
                            <label for="User"><b>Username</b></label>
                            <input type="text" placeholder="Enter Username" name="User" required>
                            <label for="User"><b>Password</b></label>
                            <input type="password" placeholder="Enter Password" name="Pass" required>
                            <button type="submit" value="Login" name="Login">Login</button>
                        </div>
                    </form>
                </login>
            </section>
        </test>
        <Spac1>
            <div>

            </div>
        </Spac1>

    </section>

</body>

<link rel="stylesheet" href="../static/login_style.css/">

<footer class="footer">
    <p style="float: left; font-size: small; padding-left: 30px; text-align: center;">Copyright © 2023 Arcadius. All
        Rights Reserved.</p>
    <a class="email" href="mailto:arcadius.uom@gmail.com">Arcadius.UOM@gmail.com</a>
</footer>

</html>

<style>
    .footer {
        text-align: center;
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        background-color: #d0d0d0d0;
    }

    .email {
        float: right;
        font-size: small;
        padding-right: 30px;
        text-align: center;
        padding-top: 14px;
    }
</style>