<!DOCTYPE html>
<html lang="en">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<head>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
	<script>
		function table_update() {
			$(document).ready(function () {
				$.ajax({
					url: '/command',
					success: function (data) {
						$('#timer').html(data);
						$('#current').html($(data).find("#current"));
						$('#Next1').html($(data).find("#N1"));
						$('#Next2').html($(data).find("#N2"));
						$('#Next3').html($(data).find("#N3"));
						$('#Next4').html($(data).find("#N4"));
					},
					error: function () {
						$("#Dialog").dialog('open');
					}
				});
			});
			setTimeout(table_update, 500);
		}
		table_update();
	</script>
	<title>
		{{title}}
	</title>
	<header>
		<img src="../static/images/arcadius.png" alt="logo" style="width: 30%;">
		<br>System Monitor
	</header>
	<section>
		<Image_stream>
			<h1>
				Camera feed
			</h1>
			<img id="stream" src="{{ url_for('video_feed') }}" alt="view" style="width: auto; height:70%;">
			<form method="post" action="/">
				<input type="submit" value="Capture" name="Capture" class="button_Capture buttonCap" />
			</form>
		</Image_stream>

		<Monitor>
			<h1>Reactor Temperature</h1>
			<section>
				<div style="width: 30px; float: right;"></div>
				<div style="width: 98%; float: left;">
					<section>
						<div style="width: 30px; float: left;"></div>
						<canvas id="myChart" style="width: max; max-height: 400px; float: right;"></canvas>
					</section>
				</div>
			</section>

		</Monitor>
	</section>

	<section>
		<div style="width: 10%; float: right;"></div>
		<div style="width: 90%; float: left; padding-bottom:60px">
			<section>
				<div style="width: 10%; float: left;"></div>
				<h1 style="margin-top:20px; margin-bottom:10px; padding-left: 10%;">
					System Commands
				</h1>
				<table>
					<tr>
						<th>Current Command</th>
						<th>Next Command</th>
					</tr>
					<tr>
						<td>
							<div id="current">{{Current}}</div>
						</td>
						<td>
							<div id="Next1">{{N1}}</div>
						</td>
					</tr>
					<tr>
						<td> </td>
						<td>
							<div id="Next2">{{N2}}</div>
						</td>
					</tr>
					<tr>
						<td> </td>
						<td>
							<div id="Next3">{{N3}}</div>
						</td>
					</tr>
					<tr>
						<td> </td>
						<td>
							<div id="Next4">{{N4}}</div>
						</td>
					</tr>
				</table>
			</section>
		</div>
	</section>
	<dialog>Error in loading from command</dialog>


	<script>

		var xyValues = [
		];
		var display_interval = 600;
		var refresh_rate = 1000;
		var offset = 10;

		var min_val = 300;
		var max_val = -100;

		var t;
		var index = 0;

		function graph_update() {
			$(document).ready(function () {
				$.ajax({
					url: '/command',
					success: function (data) {
						//$('#temp').html($(data).find("#temp"));
						t = $(data).find("#temp").html();
						xyValues = xyValues.concat({ x: index++, y: t });
						//xyValues = xyValues.concat(t);
					},
					error: function () {
						$("#Dialog").dialog('open');
					}
				});
			});
			setTimeout(graph_update, refresh_rate);

			var max_x = xyValues.length - 1;
			var min_x = 0;
			if (max_x > display_interval) {
				max_x = index - 1;
				xyValues.splice(0, 1);
				min_x = max_x - display_interval;
			}

			if (t < min_val) {
				min_val = t;
			}
			if (t > max_val) {
				max_val = t;
			}
			var max_y = Math.round(max_val) + offset;
			var min_y = Math.round(min_val) - offset;

			new Chart("myChart", {
				type: "scatter",
				data: {
					datasets: [{
						pointRadius: 2,
						pointBackgroundColor: "rgb(0,0,255)",
						data: xyValues
					}]
				},
				options: {
					animation: false,
					legend: { display: false },
					scales: {
						xAxes: [{
							ticks: {
								min: min_x,
								max: max_x
							},
							scaleLabel: {
								display: true,
								labelString: 'Time (s)'
							},
						}],
						yAxes: [{
							ticks: {
								min: min_y,
								max: max_y
							},
							scaleLabel: {
								display: true,
								labelString: 'Temperature (degrees celcius)'
							},
						}],
						plugins: {
							title: {
								display: true,
								text: 'Reactor Temperature',
								position: 'bottom',
							}
						}
					}
				}
			});
		}
		graph_update();
	</script>
</head>

<body>
	<form method="post" action="/">
		<input type="submit" class="button_Kill buttonK" value="Kill" name="Kill" />
	</form>
	<form action="control" method="get">
		<button class="button_Control buttonC" type="submit">Control</button>
	</form>
	<form action="/" method="post">
		<button class="button_Login buttonL" type="submit" value="Log Out" name="Log Out">Log Out</button>
	</form>
</body>

<link rel="stylesheet" href="../static/style.css/">

<footer class="footer">
	<p style="float: left; font-size: small; padding-left: 30px; text-align: center;">Copyright © 2023 Arcadius. All
		Rights Reserved.</p>
	<a class="email" href="mailto:arcadius.uom@gmail.com">Arcadius.UOM@gmail.com</a>
</footer>

</html>