<!DOCTYPE html>
<html lang="en">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<head>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
	<script>
		function table_update() {
			$(document).ready(function () {
				$.ajax({
					url: '/command',
					success: function (data) {
						$('#timer').html(data);
						$('#current').html($(data).find("#current"));
						$('#Next1').html($(data).find("#N1"));
						$('#Next2').html($(data).find("#N2"));
						$('#Next3').html($(data).find("#N3"));
						$('#Next4').html($(data).find("#N4"));
					},
					error: function () {
						$("#Dialog").dialog('open');
					}
				});
			});
			setTimeout(table_update, 500);
		}
		table_update();
	</script>
	<title>
		{{title}}
	</title>
	<header>
		<img src="../static/images/arcadius.png" alt="logo" style="width: 30%;">
		<br>System Monitor
	</header>
	<section>
		<Image_stream>
			<h1>
				Camera feed
			</h1>
			<img id="stream" src="{{ url_for('video_feed') }}" alt="view" style="width: auto; height:70%;">
			<form method="post" action="/">
				<input type="submit" value="Screenshot" name="Screenshot" />
			</form>
		</Image_stream>

		<Monitor>
			<h1>Process Monitoring</h1>
			<section>
				<div style="width: 10%; float: right;"></div>
				<div style="width: 90%; float: left;">
					<section>
						<div style="width: 10%; float: left;"></div>
						<table>
							<tr>
								<th>Current Command</th>
								<th>Next Command</th>
							</tr>
							<tr>
								<td>
									<div id="current">{{Current}}</div>
								</td>
								<td>
									<div id="Next1">{{N1}}</div>
								</td>
							</tr>
							<tr>
								<td> </td>
								<td>
									<div id="Next2">{{N2}}</div>
								</td>
							</tr>
							<tr>
								<td> </td>
								<td>
									<div id="Next3">{{N3}}</div>
								</td>
							</tr>
							<tr>
								<td> </td>
								<td>
									<div id="Next4">{{N4}}</div>
								</td>
							</tr>
						</table>
					</section>
				</div>
			</section>
		</Monitor>
		<dialog>Error in loading from command</dialog>
	</section>
</head>

<body>
	<form method="post" action="/">
		<input type="submit" class="button_Kill buttonK" value="Kill" name="Kill" />
	</form>
	<form action="control" method="get">
		<button class="button_Control buttonC" type="submit">Control</button>
	</form>
	<form action="/" method="post">
		<button class="button_Login buttonL" type="submit" value="Log Out" name="Log Out">Log Out</button>
	</form>
</body>

<link rel="stylesheet" href="../static/style.css/">
<meta http-equiv="refresh" content="100000000">

<footer class="footer">
	<p style="float: left; font-size: small; padding-left: 30px; text-align: center;">Copyright © 2023 Arcadius. All
		Rights Reserved.</p>
	<a class="email" href="mailto:arcadius.uom@gmail.com">Arcadius.UOM@gmail.com</a>
</footer>

</html>
