<!DOCTYPE html>
<html lang="en">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, height=device-height">

<head>
    <title>
        This is a restricted page
    </title>
    <warning>
        <h1 class="centered">
            THIS PAGE IS RESTRICTED
            <br>
            <br> 
            AUTHORISED USERS ONLY
        </h1>
    </warning>
    <form action='/' method="get">
        <button class="button_Home buttonH" type="submit">Home</button>
    </form>
</head>
<link rel="stylesheet" href="../static/style.css/">

<footer class="footer">
	<p style="float: left; font-size: small; padding-left: 30px; text-align: center;">Copyright © 2023 Arcadius.     All Rights Reserved.</p>
	<a class="email" href="mailto:arcadius.uom@gmail.com">Arcadius.UOM@gmail.com</a>
</footer>

</html>